<html lang="en-US">

<head>
  <title>Trump Tribute</title>
  <style>
    .center, p, blockquote, ol, figure {
            text-align: center;
        }

        h3 {
            color: blue;
            font:italic 18px;
            text-align:center;
        }

        ol {
            list-style-type: none;
        }

        body {
            background-color:antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }
  </style>
</head>

<body>
  <div>
    <h1 class="center" style="font-size:45px">Donald J. Trump</h1>
    <h2 class="center"><em>President Elect of the USA</em></h2>

    <figure>
      <img src="http://i.forbesimg.com/media/assets/2015/trump/trump-head.png" alt="Picture of Donald Trump"><br />
      <figcaption style="font-size:12px">Soon to be the 45th President of the USA Donald Trump</figcaption>
    </figure>

    <h3><u>An American Timeline:</u></h3>
    <p>
      <ol>
        <li>June 14, 1946 Born in Jamaica Queens, New York.</li>
        <li>At age 13 enrolled in the New York Military Academy School.</li>
        <li>Earned a Bachelor of Science Degree in Economics.</li>
        <li>Began his Real Estate career before graduating college.</li>
        <li>Became President of his family business in the early 70's.</li>
        <li>Built Trump Tower in 1983.</li>
        <li>Owned the Miss USA and Miss Universe pageants from 1996 to 2015.</li>
        <li>Hosted "The Apprentice" from 2004 to 2015.</li>
        <li>324th wealthiest person in the world according to Forbes magazine.</li>
        <li>Time magazine's Person of the Year 2016</li>
        <li>Won the Presidential election on November 8, 2016.</li>
      </ol>
    </p>

    <h3><u>Famous Trump Quotes:</u></h3>
    <p>
      <blockquote>"Sometimes your best investments are the ones you don't make."</blockquote>
      <blockquote>"In the end, you're measured not by how much you undertake but by what you finally accomplish."</blockquote>
      <blockquote>"You have to think anyway, so why not think big?"</blockquote>
      <blockquote>"Make American great again!"</blockquote>
      <hr />
      <div style="text-align:center">
        <a href="https://en.wikipedia.org/wiki/Donald_Trump " target="_blank">
                    For More Info Click Here!</a>
      </div>
    </p>
  </div>
</body>

</html>